{% extends 'base.html' %}
{% block content %}
<!-- 프로필 화면 -->
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="border-bottom pb-2"><h2>유저 프로필</h2></div><br>
            <div class="row align-items-center">
                <ul>
                    <li><h3> username : {{ person.username }}</h3></li>
                    <!-- <li><p>{{ person.profile.description }}</p></li> -->
                </ul>
            </div>
            <div class="row align-items-end">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{% url 'book:rent_books' request.user.id %}" class="btn btn-outline-info">
                            도서 대여상황
                        </a>
                        <a href="{% url 'book:rent_history' request.user.id %}" class="btn btn-outline-dark">
                            내 대여 기록
                        </a>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{% url 'book:rent_book_all' request.user.id %}" class="btn btn-outline-info">
                            유저 도서 대여 상황
                        </a>
                        <a href="{% url 'book:rent_history_all' request.user.id %}" class="btn btn-outline-dark">
                            전체 유저 대여 기록
                        </a>
                    </div>
                    {% endif %}
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <a href="#"><button class="btn btn-success">프로필 편집</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
