{% extends 'base.html' %}
{% load book_filter %}
{% block content %}
<!-- 프로필 화면 -->
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <p><h2>{{ user.username }} 님의 도서 대출 현황</h2>
            <h5 class="text-right">총 {{ rent_book_list.count }}권</h5></p>
            <table class="table">
                <thead>
                <tr class="text-center table-info">
                    <th style="width:50%">책제목</th>
                    <th>대출일</th>
                    <th>반납일</th>
                </tr>
                </thead>
                <tbody>
                {% if rent_book_list %}
                {% for rent_book in rent_book_list %}
                <tr class="text-center">
                    <td class="text-left">
                        <a href="{% url 'book:detail' rent_book.book.id %}">
                            {{ rent_book.book.subject }}
                        </a>
                    </td>
                    <td>{{ rent_book.rent_start }}</td>
                    <td>{{ rent_book.rent_end }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">반납할 책이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}